extends layout

block content
  h1= title
  p Welcome to #{title}
  p Complete CRUD : "https://blog.cloudboost.io/learn-how-to-create-a-simple-blog-with-react-node-c05fa6889de3"

  p https://medium.com/javascript-in-plain-english/full-stack-mongodb-react-node-js-express-js-in-one-simple-app-6cc8ed6de274